---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="card">   
      <div class="card-body">
          <div class="card-title">
              <h1>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              </h1>
          </div>
          <div class="card-exceprt">
              <p>
                  {{ post.excerpt }} 
              </p>
          </div>
          <a class="btn" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </div>
    </article>
  {% endfor %}
</div>
